@import '../../styles/base.scss';

.mmk-button-wrapper {
  padding: 6px 20px 4px 20px;
  border-radius: 5px;
  background-color: color('button');
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media('<=tablet') {
    @include font('Open Sans', bold);

    padding: 11px 20px 9px 20px;
    color: $mmk-white;
    font-size: font-size('small');
    line-height: 30px;
    letter-spacing: 2px;
  }

  &:hover {
    background-color: color('button', 'dark-primary');
    cursor: pointer;
  }

  &:focus {
    background-color: color('button', 'dark-primary');
  }
}

.secondary-button {
  background-color: $mmk-white;
  color: $mmk-average-blue;

  &:hover {
    background-color: color('button', 'dark-white');
  }

  &:focus {
    background-color: color('button', 'dark-white');
  }
}

.ghost-button {
  background-color: $mmk-white;
  border-style: solid;
  border-width: 1px;
  border-color: $mmk-super-light-grey;
  color: color('text');

  &:hover {
    color: $mmk-white;
  }

  &:focus {
    color: $mmk-white;
  }
}

.btn-disabled {
  background-color: $mmk-super-light-grey;
  color: $mmk-white;

  &:hover {
    background-color: $mmk-super-light-grey;
    cursor: not-allowed;
  }

  &:focus {
    background-color: $mmk-super-light-grey;
  }
}
