@import '../../styles/base.scss';

.mmk-step-flow-wrapper {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  width: calc(100% - 48px);
  margin-left: 24px;

  &-item {
    flex: 1;
    height: 4px;
    background-color: $mmk-super-light-grey;
    border-radius: 4px;
  }

  .active {
    background-color: $mmk-average-blue;
  }
}
