@import '../../styles/base.scss';

.hardwork {
  &-top-section {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    right: 0;
    left: 0;
  }

  .set-background {
    background: color('gradient', 'dark-sapphire');
  }

  &-content {
    background: color('gradient', 'sapphire');
    min-height: 300px;
    padding-bottom: 40px;

    &-banner {
      padding-top: 88px;
      text-align: center;

      &-desc {
        @include font();
        margin-top: 8px;
        padding: 0 24px;
        text-align: center;
        font-size: font-size('medium');
        color: color('text', 'white');
        line-height: 24px;
      }
    }

    &-button {
      padding: 0 24px;
      margin-top: 24px;
    }

    &-decision {
      @include font();
      color: color('text', 'white');
      font-size: font-size('xx-small');
      line-height: 14px;
      padding: 0 24px;
      margin-top: 16px;
      text-align: center;
    }
  }
}
